{% include 'navbar.html' %}

<h3>bcvxbnzm</h3>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption and Decryption Result</title>
</head>
<body>
    <h1>Encryption and Decryption Result</h1>
    <h2>Encrypted Image:</h2>
    <input type="file" name="encrypted_image">
    <img src="{{ encrypted_image }}" alt="Encrypted Image">
    <h2>Decrypted Image:</h2>
    <img src="{{ decrypted_image }}" alt="Decrypted Image">
</body>
