<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption and Decryption</title>
</head>
<body>
    <h1>Encryption and Decryption</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*" required>
        <button type="submit">Encrypt and Decrypt</button>
    </form>
    <br><div class="col-sm-4">
    <a href="{% url 'decrypt_image' %}">Decrypt Original Encrypted Image</a>
</div>
</body>
</html>